* {
  margin: 0;
  padding: 0;
  letter-spacing: .045em;
  font-family: sans-serif;
  box-sizing: border-box;
  user-select: none;
}

body {
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  font-size: .85vw;
  overflow: hidden;
}

#root>#header {
  background-color: #082B49;
  height: 3vw;
  width: 100%;
}

#root>#header>#left_pane {
  width: 70%;
  display: flex;
  align-items: center;
  height: 3vw;
  padding-left: 1.5vw;
}

#root>#header>#left_pane>#logo {
  color: #fff;
  width: 50%;
}

#root>#header>#left_pane>#logo>#line1 {
  font-size: 1vw;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root>#content {
  height: calc(100% - 3vw);
  color: #555;
  width: 100%;
  background: #f5f5f5;
}

#root>#content>#chart_view_container {
  width: 100%;
  height: 100%;
  background-color: #EDEDED;
  display: flex;
  flex-wrap: wrap;
  padding: 1vw;
}

#root>#content>#chart_view_container>.half_width {
  border: 1px solid #DFE0E1;
  width: 49.5%;
  height: 32%;
  background-color: #fff;
  border-radius: .5vw;
  position: relative;
}

.legend_area::-webkit-scrollbar {
  width: .2vw;
  height: .2vh;
}

.legend_area::-webkit-scrollbar-track {
  background: #fff;
}

.legend_area::-webkit-scrollbar-thumb {
  background-color: #c7c6c6;
  border-radius: 5px;

}

#root>#content>#chart_view_container>.half_width:not(:nth-child(odd)) {
  margin-left: 1%;
}

#root>#content>#chart_view_container>.one_third_width {
  width: 32.6%;
  height: 32%;
  border: 1px solid #DFE0E1;
  background-color: #fff;
  border-radius: .5vw;
  position: relative;
}

#root>#content>#chart_view_container>.half_width:not(:first-child):not(:nth-child(2)) {
  margin-top: 1%;
}

#root>#content>#chart_view_container>.one_third_width:not(:nth-child(odd)) {
  margin-left: 1%;
}

#root>#content>#chart_view_container>.one_third_width {
  margin-top: 1%;
}

#root>#content>#chart_view_container>.one_third_width:last-child {
  margin-left: 1%;
}

#root>#content>#chart_view_container #title {
  font-size: .7vw;
  font-weight: bold;
  color: #666666;
  height: 2vw;
  border-radius: 0.5vw 0.5vw 0 0;
}

#root>#content>#chart_view_container #title>#left_pane {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 1vw;
}

#root>#content>#chart_view_container >.half_width> #filter{
  display: flex;
  align-items: center;
  height:1.5vw;
  font-size: .55vw;
}

#root>#content>#chart_view_container >.half_width > #filter>#left_pane{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
  padding-left: 1vw
}
#root>#content>#chart_view_container >.half_width > #filter>#right_pane{
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: flex-start;
  padding-left: 1vw
}
#root > #content > #chart_view_container> .half_width > #filter > #left_pane>span:first-child {
  font-weight: bold;
  color: #b5b5b5;
  width: max-content;
}
#root > #content > #chart_view_container > .half_width > #filter > #left_pane > #higher {
  width: 15%;
  border: 1px solid #DFE0E1;  
  border-radius: 3px;
  background-color: #EFEDED;
  cursor: pointer;
  margin-left: 1vw;
  height: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

#root > #content > #chart_view_container > .half_width > #filter > #left_pane > #lower {
  width: 15%;
  border: 1px solid #DFE0E1;  
  border-radius: 3px;
  background-color: #EFEDED;
  cursor: pointer;
  height: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
#root > #content > #chart_view_container > .half_width > #filter > #left_pane > .on {
  background-color: #2B7EC6 !important;
  color: white;
  text-align: center;
  cursor: pointer;
}
#root > #content > #chart_view_container > .half_width > #filter > #right_pane > #sort_buttons {
   display: flex;
   align-items: center;
   margin-left: 1vw; 
   height: 1.5vw;
   border: 1px solid #DFE0E1; 
   border-radius: 5px;
} 

#root > #content > #chart_view_container > .half_width > #filter > #right_pane > #sort_buttons >.header_sort{
   width: 5vw;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 1.3vw;
   cursor: pointer;
   transition: 0.3s ease-in-out;
}
#root > #content > #chart_view_container > .half_width > #filter > #right_pane > #sort_buttons >.clicked{
  background-color: #2B7EC6 !important;
  color: #fff;
}

#root > #content  #chart_container{
  display: flex;
  width: 100%;
  height: calc(100% - 2vw);
  position: relative;
  padding-top: 1vw;
 
}
#root > #content  > #chart_view_container>.with_filter >  #chart_container{
  display: flex;
  width: 100%;
  height: calc(100% - 3.5vw);
}
svg > .x_axis{
  transform: translate(12%,81%);
  }
  svg > .x_axis1{
    transform: translate(5%,2%);
  }
  svg > .y_axis{
    transform: translate(12%, 2%);
    cursor: pointer;
  }
  svg > .y_axis1{
    transform: translate(96%,0%);
  }
  svg > .y_axis2{
    transform: translate(9%,0%);
  }
  svg  > .half_width_center{
    transform: translate(50%,50%);
  }
  svg > .y_axis > g > text{
    z-index: 8;
  }
  body > .tooltip{
    display: none;
    z-index: 8;
    padding: .5vw;
    color: #666;
  }
  body > .tooltip >div{
    padding: .1vw;
    font-size: .55vw;
  }
  body > .tooltip > div >:not(:nth-child(1)){
  padding-top: .2vw;
  }
  body > .show{
    display: block;
    z-index: 8;
    position: absolute;
    border-radius: 5px;
    font-size: .6vw;  
  }
  svg > .main_group{
    transform: translate(12%,0%);
  }
  svg > .horizontal_group{
     transform: translate(12%,0%);
  }
  .legend_row > .legend_icon{
    width: .35vw;
    height: .35vw;
  }
  .legend_row{
    display: flex;
    cursor: pointer;
    align-items: center;
      margin-top: 10%;
  }
   .legend_row > span{
    padding-left: .3vw;
    font-size: .6vw;
    color: #444;
  }
  .disable_legend_area{
    display: none;
  }
  .legend_area{
    width: 12%;
    height: 25vh;
    top: 0;
    overflow: auto;
    right: 0%;
    position: absolute;
    font-size: .35vw;
    padding-left: .5vw;
  }
  .opact{
    opacity: .4;
    background-color: #2B7EC6;
  }
  .center_align{
    transform: translate(50%,50%);
  }
  .legend_area_pie{
    width: 25%;
    right: 0;
    padding: 1vw;
    position: absolute;
  }
  .add_opacity{
    cursor: pointer;
    opacity: .7;
  }
  .x_axis > path, .y_axis > path{
    stroke-width:.5;
    stroke: #cccccc;
  }
  
  svg >  .x_label{
    fill: #555;
    font-size: .85vw;
    font-weight: bold;
   }
   svg > .y_label{
    writing-mode: tb;
    font-size:.85vw;
    font-weight: bold;
    fill: #555;
    transform: translate(-2%,12%);
   }
   .center_align >  text{
    font-size: .6vw;
   }
   .color_change{
    stroke-width:4;
   }
   text:not( .center_align >  text){
    fill: #444;
    font-size: .55vw;
   }
   .x_axis > g> line, .y_axis > g > line{
    stroke: none;
   }
   .lines{
    stroke: #666;
    stroke-width: 1;
   }
  .tool-area{
    width: 10vw;
    height: max-content;
    border:1px solid #DFE0E1;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    display: none;
  }
  .tool-area > #head{
    height:2vw;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
  
  }
  .tool-area > #head > #bold{
    font-weight: bold;
    color: #555;
  }
  .tool-area > #head >  span{
    padding-left:.5vw
  }
  .tool-area > #cont {
    padding-left: .5vw;
    padding-bottom: .5vw;
  }
  .tool-area > #cont > .row{
    display: flex;
    align-items: center;
    font-size: .6vw;
    padding-top: .5vw;
    color: #444;
  }
  
  
  .tool-area > #cont > .row > #name{
    width: 40%;
    text-align: left;
  }
  .tool-area > #cont > .row >#color_div{
    width: 5%;
    height: .5vw;
    margin-right: 4%;
  }
  .tool-area > #cont > .row > #result{
   width: 40%;
   text-align: right;
  }
  .strok-width{
  stroke-width: 0;
  }
  svg > .half_width_trans > line{
    stroke:#666;
    stroke-width: .5;
  }
  svg > .half_width_trans > path{
    stroke: #fff;
  }
  .horizontal_group > g > g> line, .y_axis > g > line{
    stroke: none;
   }
   .horizontal_group > g > path{
    stroke-width:.5;
    stroke: #666;
  }
  .path_line > path{
    stroke-width: .5;
    stroke: #cccccc;
  }
  .path_line > g> line{
   stroke: none;
  }

